<header id="textog">
  <img src="freepik-export-20240423182946N0MK 1.png" alt="Logo Caritá">

  <nav class="navbar">

      <div class="menu" id="menu">
        &#9776;
      </div>
      <div class="nav-list" id="nav-list">
        <ul>
          <li class="nav-item"><a  id="paginaAtual"  href="PaginaInicial.html">Página inicial</a></li>
          <li class="nav-item"><a href="sobre.html">Sobre</a></li>
          <li class="nav-item" ><a href="conteudo.html">Conteúdo</a></li>
          <li class="nav-item"><a href="como_ajudar.html">Como ajudar</a></li>
          <li class="nav-item"><a href="formContato.html">Contato</a></li>
          <li class="nav-item"><a href="login.html">Login</a></li>
        </ul>
      </div>
    </nav>
  </header>
