<!--Parceiros (Como Ajudar)-->
<div class="parceiros text-center py-4 bg-light">
  <p class="fs-5">PARCEIROS</p>
  <div class="listagemParceiros d-flex justify-content-center flex-wrap">
    <div class="foto text-center p-3 rounded m-2">
      <img class="img-fluid" src="/img/Como_Ajudar/fatec-votorantim.png" alt="">
    </div>
    <div class="foto text-center p-3 rounded m-2">
      <img class="img-fluid" src="/img/Como_Ajudar/malucho-parceiro.png" alt="">
    </div>
    <div class="foto p-3 rounded m-2">
      <img class="img-fluid" src="/img/Como_Ajudar/docelinho-parceiro.webp" alt="">
    </div>
    <div class="foto  p-3 rounded m-2">
      <img class="img-fluid" src="" alt="">
    </div>
  </div>
</div>
