#textog{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 33px;
}
#textom{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
#textop{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

#meiosup{
  background: radial-gradient( circle, white ,#FFF2E7) ;
  color:#522916 ;
  text-align: center;
}

.row{
  align-items: center;
}
#imgmeiosup{
  width: 320px;

  display: flex;
  
  align-items: center;
}

.contmeiosup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#botao1{
  padding: 10px 20px;
  border-radius: 16px;
  width: 150px;
  cursor: pointer;
  font-size: 16px;
  background-color: #F9C89B;
  color: #522916 ;
  font-weight: bold;
}
