<body class="container d-flex align-items-center justify-content-center">
    <!-- Formulário de login -->
    <form class="login-form">
        <h2 class="mb-4 text-center fw-bold">Login</h2>
        <div class="mb-3">
            <input type="email" class="form-control" placeholder="Digite seu email" required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" placeholder="Digite sua senha" required>
        </div>
        <div class="d-grid mb-3">
            <button type="submit" class="btn ">Entrar</button>
        </div>
        <div class="text-center">
            <a href="cadastro.html" class="text-decoration-none">Criar conta</a>
        </div>
    </form>
</body>