<body>

  <div style="display: inline-flexbox">
    <div class="CA">
        <h1> Como Ajudar </h1>
    </div>
  </div>

  <div class="ct1">

        <div class="textoinicial" style="color: #522916;">
            <p> As doações de alimentos são essenciais para manter nossos pontos de arrecadação abastecidos
                e garantir que as famílias em situação de vulnerabilidade tenham acesso a alimentos essenciais.
                  Abaixo, você encontrará uma lista com os locais onde pode fazer suas doações no ponto
                  mais próximo. </p>
        </div>

  </div>

  <div style="height: 50px;"></div>

<div class="container">

  <div></div>

  <div class="endereços">
      <p><strong> Pontos de Captação </strong></p>
      <div style="height: 5px;"></div>
      <button class="butao"> Endereço 1 </button>
      <hr style="border: 1px solid; color: #522916;">
      <button class="butao"> Endereço 2 </button>
      <hr style="border: 1px solid; color: #522916;">
      <button class="butao"> Endereço 3 </button>
      <hr style="border: 1px solid; color: #522916;">
      <button class="butao"> Endereço 4 </button>
      <hr style="border: 1px solid; color: #522916;">
  </div>

  <div class="b" style="color: #522916; align-content: center;">
       <img src="/img/Como_Ajudar/maps.png" class="maps" alt="Mapa de Votorantim">
  </div>

  <div></div>
</div>

</body>
