<div class="meioinf">
  <div class="imgmeioinf">
      <img src="/img/help_5102230.png" alt="imgmeioinf" id="imgmeioinf">
  </div>
  <div class="contmeioinf">
      <div class="textogmeioinf">
          <h1 id="textog">Como Ajudar</h1>
      </div>
      <div class="textopmeioinf">
          <p id="textop">Descubra os pontos de arrecadação de alimentos ou cadastre sua empresa para auxiliar na doação</p>
      </div>
      <div class="botaomeioinf">
          <button class="btn" id="botao" style="font-family:Poppins,sans-serif;font-weight: 700;font-style: normal;"><a href="como_ajudar.html">Saiba Mais</a></button>
      </div>
  </div>
</div>
