<body>

  <!-- Container principal para centralizar o conteúdo -->
  <div class="login-container">
      <div class="text-center">
          <h1 class="mb-4 text-white">Cadastro</h1>
          <!-- Botões de cadastro -->
          <button class="btn btn-lg">
              <a href="usuario.html" class="text-white text-decoration-none">Cadastrar como Parceiro</a>
          </button>
          <br>
          <button class="btn btn-lg">
              <a href="usuario.html" class="text-white text-decoration-none">Cadastrar como Organização/Ong</a>
          </button>
      </div>
  </div>
</body>
