<app-main></app-main>
<app-pagina-sobre></app-pagina-sobre>
<app-pagina-conteudo></app-pagina-conteudo>
<app-pagina-comoajudar></app-pagina-comoajudar>
<app-pagina-contato></app-pagina-contato>
<app-pagina-login></app-pagina-login>
<app-pagina-cadastro></app-pagina-cadastro>
<app-pagina-precadastro></app-pagina-precadastro>
<app-pagina-usuario></app-pagina-usuario>
<app-pontos-arrecadacao></app-pontos-arrecadacao>
<app-dados-parceiros></app-dados-parceiros>
<app-dados-representante-parceiro></app-dados-representante-parceiro>
<app-desativar-parceiro></app-desativar-parceiro>
