<div>
    <div class="sidebar d-inline-block">
      <div class="sidebar-content">
        <div class="dados-instituição d-flex flex-column align-items-center">
          <img
            src="/img/Usuario/img-perfil.png"
            alt="Logo"
            class="img-usuario d-inline-block align-text-top"
          />
          <a class="navbar-brand"> Olá, nome instituição! </a>
        </div>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a routerLink="/pagina-ong" class="nav-link active" aria-current="page"
              >Dados Instituição</a
            >
          </li>
          <li class="nav-item">
            <a routerLink="/pagina-representante" class="nav-link" >Dados Representante</a>
          </li>
          <li class="nav-item">
            <a routerLink="/pagina-pontosArrecadacao" class="nav-link">Cadastrar Ponto de Arrecadação</a>
          </li>
          <li class="nav-item">
            <a routerLink="/pagina-desativarOng" class="nav-link">Desativar</a>
          </li>
        </ul>
      </div>
    </div>
