
.sidebar {
  background-color: #f4f4f4;
  padding: 30px;
  height: 100vh;
}

.sidebar-content {
    text-align: center;
    
}

.img-usuario{
    width: 60px;
    height: 60px;
    margin-bottom: 20px !important;
}