<div class="container-fluid body d-flex align-itens-center ">
  <!-- Seção da Imagem -->
  <div class="form-logo">
    <img src="/img/logo.png" alt="Caritá logo" class="logoForm">
  </div>

  <!-- Seção do Formulário -->
  <div class="Form">
    <form >
      <h1 class="text-center mb-4">Formulário de Contato</h1>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Nome Completo" required>
      </div>
      <div class="mb-3">
        <input type="email" class="form-control" placeholder="Entre com um endereço de email válido" required>
      </div>
      <div class="mb-3">
        <textarea class="form-control" rows="5" placeholder="Mensagem..." required></textarea>
      </div>
      <div class="d-grid justify-content-center">
        <button type="submit" class="btn botao">Enviar</button>
      </div>
    </form>
  </div>
